/* used to align the download button of the plot at the very rigth of the card header */
/* .float-right {
    float: right;
    po
} */

/* make the two download buttons the same height */
.down-button-height {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* customize tooltips */
.tooltip-inner {
    text-align: left;
    max-width: 300px;
    width: auto;
}